{% extends "main.html" %}
{% block content %}


<h1>Willkommen</h1>



    <h2>
    Bedienung
    </h2>
    <p>Um die automatische Emailanzeige einzuschalten drücken Sie bitte auf den Button "Einschalten".</p>
    <p>Über den Button "Ausschalten" kann die Anzeige ausgeschaltet werden. Die Webseite wird durch diese Funktion nicht beeinflusst.</p>
    <p><!--Über die Buttons "Neustart" und "Herunterfahren" kann die gesamte Box neu gestartet werden.
        Die Webseite ist dann bis zu einem erneuten Hochfahren nicht aufrufbar. Bitte beachten sie, dass nach einem Herunterfahren der Emailbox, das Stromkabel aus- und wieder eingesteckt werden muss.</P> -->
    <p> Die momentan geladenen Nachrichten können über den Reiter "Aktuelle Nachrichten" abgerufen werden. Geladenen Nachrichten werden automatisch nach 2 Stunden gelöscht. Ebenfalls ist es möglich die Nachrichten manuell über den dazugehörigen Button zu löschen.</p>
    <p> Die Farbe der angezeigten Nachrichten kann für bestimmte Email Adressen im Reiter "Farbeinstellungen" eingestellt werden. Dazu muss lediglich der RGB-Wert für die E-Mail Adresse angegeben werden. </p>

{% endblock %}