<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>EmailBox</title>
    <meta charset="utf-8"/>

</head>

<body>
<header class="container">

    <h1>
        The Emailbox
    </h1>

<div>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Momo Industries</a>
    </div>


</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li {% if message_active%}class="active"{% endif %}><a href="/Messages/">Aktuelle Nachrichten <span class="sr-only">(current)</span></a></li>
          <li  {% if color_active%}class="active"{% endif %}><a href="/Colors/">Farbeinstellungen <span class="sr-only">(current)</span></a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
          <a href="/refresh"> <button type="button" class="btn btn-primary navbar-btn">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Emails laden
                </button>          </a>

          <a href="/TurnOn/">
              <button type="button" class="btn btn-primary navbar-btn">Einschalten</button>
          </a>
          <a href="/TurnOff/">
              <button type="button" class="btn btn-primary navbar-btn">Ausschalten</button>
          </a>
             <!--  <a href="/Restart/">
              <button type="button" class="btn btn-primary navbar-btn">Neustart</button>
          </a>

            <a href="/Shutdown/">
              <button type="button" class="btn btn-primary navbar-btn">Herunterfahren</button>
          </a>   -->



      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
<div class="container">
<div class=".col-xs-3 .col-sm-3 .col-md-12" >
   {% block content%}
{% endblock %}



</div>

</div>

</body>
</html>
